#navegador ul{
    list-style-type: none;
    margin: -60px 10px 0 0;
    float:right ;
 }
 #navegador li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
 }
 #navegador li a {
    padding: 5px 7px 2px 7px;
    color: #666;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    text-decoration: none;
 }
 #navegador li a:hover{
    background-color: #333333;
    color: #ffffff;
 }

 h1{
    color: forestgreen;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 50px;
    
 }


 body{
    background-color: lightgoldenrodyellow;
 }

 #p1{
    text-align: center;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
    

 #contenido{
   border: 10px solid black;
   background: blanchedalmond;
   height: 400px;
   width: 700px;
   padding: 10px;
   margin: 10px;
   display:block;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   
   margin: auto;
   
 }