<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
</head>
<body>
<div class="alert alert-success"> 
<div class="container">
    <h5>Añadir/Editar</h5>
    <form action="#" th:action="@{/receta/addEdit}" method="post" th:object="${recetas}">
    	Id:<br/>
        <input type="text" class="form-control" id="mede" th:field="*{identifier}" placeholder="ID"/>
        <br/>
        Medicamento:<br/>
        <input type="text" class="form-control" id="med" th:field="*{medicamento}" placeholder="Medicamento"/>
        <br/>
        Cantidad:<br/>
        <input type="text" class="form-control" id="cabt" th:field="*{cantidad}" placeholder="Cantidad"/>
        IdPaciente:<br/>
        <input type="text" class="form-control" id="cabt1" th:field="*{paciente}" placeholder="ID Paciente"/>
        <br/> 
       
        <br/> 
        <button type="submit" class="btn btn-info" >Aceptar</button>
    </form>
</div>
</body>
</html>