
	<head>
		<title>Registro ATISAVI</title>
    <link rel="stylesheet" href="../static//css/ISesion.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"&amp;gt;>
	</head>

	<body>
    <h1>ATISAVI</h1>

        
    <div id=nav>

    <ul >
        <li >	<a href="PantallaPrincipal.html"    title="Inicio">
            Inicio</a>
    </li>
        <li >	<a href="#"    title="Producto">
            Producto</a>
    </li>
        <li >	<a href="QS.html"    title="Quienes somos">
            Quiénes somos</a>
    </li>
        <li >	<a href="#"    title="Contactanos">
            Contáctanos</a>
    </li>
    <li >	<a href="InSesion.html"    title="InSesion">
        Iniciar Sesión</a>
    </li>
</div>

  <hr>
    

    <form action="#" method="post">
      
      
     
      
    
      
           
        <label>Tipo de usuario:</label>
        <select name="usuario" id="ocup">
          <option value="v1">Paciente</option> 
          <option value="v2" >Doctor</option>
        </select>
     
        <label >Ingrese usuario:</label>
        <textarea id="user" name="log"></textarea>      

        <label >Ingrese contraseña:</label>
        <textarea id="pass" name="pass"></textarea>  
        
     

      <button type="submit">Acceder</button>
      <a href="PantallaPrincipal.html">Regresar</a>
      <a href="#">¿Olvidó su contraseña?</a>
      
      
     </form>



        

       

      
       

	</body>

	<script src="./js/atisavi.js"></script>

</html>
       

      
        
       

