<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>ATISAVI</title>
<link rel="stylesheet" th:href="@{/css/Medico.css}" />        
        <meta name="viewport" content="width=device-width,initial-scale=1,minimal-ui,user-scalable=yes">
	</head>

	<body>
        <h1>ATISAVI MEDICO</h1>

        
        <div id=nav>
		<form th:action="@{/logout}" method="post" th:hidden="false" name="logoutForm">
					    <input type="submit" value="Logout" />
		</form>
        <ul >
            <li >	<a href="#"    title="Inicio">
                Citas</a>
        </li>
            <li >	<a href="#"    title="Producto">
                Recetas</a>
        </li>
        <li >	<a href="#"    title="Quienes somos">
            Pacientes</a>
        </li>
            <li >	<a href="#"    title="Quienes somos">
                Fechas de entrega</a>
        </li>
            <li >	<a href="#"    title="Contactanos">
                Editar información personal</a>
        </li>
         </ul>
    </div>
        
                
                    

        <hr>

        <p>BIENVENIDO</p>

      	<img th:src="@{/imagenes/soft1.jpg}" >
        
       

	</body>

	<script th:src="@{/js/atisavi.js}"></script>

</html>